{
  "all": true,
  "include": [
    "dist/**/*.js"
  ],
  "exclude": [
    "dist/**/*.test.js",
    "dist/**/__tests__/**",
    "dist/tests/**",
    "dist/**/*.d.ts",
    "dist/types.js",
    "dist/index.js"
  ],
  "extension": [
    ".js"
  ],
  "reporter": [
    "text",
    "text-summary",
    "lcov",
    "html"
  ],
  "report-dir": "./coverage",
  "temp-dir": "./.nyc_output",
  "check-coverage": false,
  "sourceMap": true,
  "produce-source-map": true,
  "instrument": true,
  "cache": false,
  "require": []
}
